body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    width: calc(100% - 40px);
    border-collapse: collapse;
    margin: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    max-height: 200px;
}

#eegTable tbody {
    display: block;
    max-height: 530px;
    overflow-y: auto;
}

#eegTable thead {
    width: 98.7%;
}

#eegTable tbody tr {
    width: 100%;
}

#eegTable thead, #eegTable tbody tr {
    display: table;
    table-layout: fixed;
}

canvas {
    height: 200px;
    width: 100%;
}

.subWindows {
    display: none;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}