body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    width: calc(100% - 40px);
    border-collapse: collapse;
    margin: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    max-height: 200px;
}

#eegTable tbody, #heartTable tbody {
    display: block;
    max-height: 460px;
    overflow-y: auto;
}

#eegTable thead, #heartTable thead {
    width: 98.7%;
}

#eegTable tbody tr, #heartTable tbody tr {
    width: 100%;
}

#eegTable thead, #eegTable tbody tr, #heartTable thead, #heartTable tbody tr {
    display: table;
    table-layout: fixed;
}

canvas {
    height: 200px;
    width: 100%;
}

.subWindows {
    display: none;
    padding: 8px;
    margin-top: 3px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Per centrare verticalmente all'interno del contenitore */
}

#switch {
    width: 200px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    text-align-last: center;
}