<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Analisi Dati EEG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <h1>Real-time healt analysis</h1>
    <div class="center-container">
        <select id="switch" onchange="openWindow()">
            <option value="1">EEG data</option>
            <option value="2">Heart beat</option>
        </select>
    </div>
    <div id="eeg_data" class="subWindows">
        <table id="eegTable">
            <thead>
                <tr>
                    <th style="width:8%">Patient</th>
                    <th style="width:60%">EEG chart</th>
                    <th style="width:10%">Epilepsy probability</th>
                    <th>Datetime</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="heartbeat_data" class="subWindows">
        <table id="heartTable">
            <thead>
                <tr>
                    <th style="width:13%">Patient</th>
                    <th>Heart beat</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>     
    </div>
    <script>
        function openWindow() {
            document.getElementById('eeg_data').style.display = 'none';
            document.getElementById('heartbeat_data').style.display = 'none';
            var selezione = document.getElementById('switch').value;
            if (selezione === '1') {
                document.getElementById('eeg_data').style.display = 'block';
            } else if (selezione === '2') {
                document.getElementById('heartbeat_data').style.display = 'block';
            }
        }
    </script>
</body>
</html>
